/*HEADER*/



.nav-main {
  width: 100%;
  height: 100px;
  border-color: white;
  border-style: initial;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  top:0;

}

.nav-main ul {
display: flex;
flex-wrap: wrap;
padding-left: 2%;
}

.nav-main ul li {
  list-style: none;
  line-height: 100%;
  
  }

.nav-main ul li a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding: 0 20px;
  text-transform: uppercase; 
  margin-right: 40px;
}
.nav-main ul li a:hover, a:active {
  
  background-color:rgba(238, 232, 170, 0.521);
}

/*BODY*/

body {
  color: white;
  background-color: black;
  background-image: url("photos/yellow.jpg"), url("photos/fire.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, 30%;
  background-position: right top, left bottom;
  font-family: 'Red Hat Display', sans-serif;
  background-attachment: scroll, fixed;
  
 
}

section {
  margin-top: 40px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

h1{
  color: white;
  font-size: 200%;
  font-weight: lighter;
}

h2{
  color:white;
  font-family: 'Red Hat Display', sans-serif;
}

h4{
  color: white;
  font-family: 'Red Hat Display', sans-serif;
}

#homeArticle{
  color: white;
  font-family: 'Red Hat Display', sans-serif;

}

form{
  color:white
}

img{
  width: 40%;
  text-align: center;
}

#hide {
  width: 40%;
  padding: 10px;
  font-weight:lighter;
  font-size: 100%;
  text-transform: uppercase;
  background-color: rgba(238, 232, 170, 0.521);
  color: white;
  text-align: center;
}

#hide:hover {
  background-color: rgba(238, 232, 170);
}

footer{
  text-align: center;
  padding: 3px;
  background-color: transparent;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  display: block;
  background-attachment: fixed;
  margin-bottom: 0%;
}

.footer a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  padding: 2%; 
}
.footer a:hover, a:active {
  
  color:rgba(238, 232, 170, 0.521);
}