/*HEADER*/


/* För att sätta h1 och menu i linje*/

nav {
  display: inline;
}

ul#menu li {

  display:inline;
  margin-right: 5%;
  border-color: white;
  border-style: initial;

}

.topnav a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-radius: 0px;
  padding: 2%; 
}
.topnav a:hover, a:active {
  
  background-color:rgba(238, 232, 170, 0.521);
}

/*BODY*/

header {
  color: white;
  font-family: 'Red Hat Display', sans-serif;
}
body {
  color: white;
  background-color: black;
  background-image: url("photos/yellow.jpg"), url("photos/fire.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, 40%;
  background-position: right top, left bottom;
 
}


h1{
  color: white;
  font-size: 200%;
  font-weight: lighter;
}

h2{
  color:white;
  font-family: 'Red Hat Display', sans-serif;
}

h4{
  color: white;
  font-family: 'Red Hat Display', sans-serif;
}

#homeArticle{
  color: white;
  font-family: 'Red Hat Display', sans-serif;

}

#name {
  display: inline;
  font-size: 300%;
}









footer{
  text-align: center;
  padding: 3px;
  background-color: transparent;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  display: block;
  
  
}
.footer a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  padding: 2%; 
}
.footer a:hover, a:active {
  
  background-color:rgba(238, 232, 170, 0.521);
}